PLugins>STORM_Tools, "Autoselect fiducials", FiducialAnalysis.MultiChBeadSelection_
PLugins>STORM_Tools, "Autoselect fiducials (ThunderSTORM)", FiducialAnalysis.TS_multiBeadSelection_
PLugins>STORM_Tools, "Calculate Transformation", Channel_alignment.Channel_alignment
PLugins>STORM_Tools, "Apply Transformation", Channel_alignment.Channel_alignment("table")
PLugins>STORM_Tools, "Apply Transformation (ThunderSTORM)", Channel_alignment.Channel_alignment_TS("table")
