Plugins>STORM_Tools, "Autoselect Fiducials", FiducialAnalysis.MultiChBeadSelection_
Plugins>STORM_Tools, "Autoselect Fiducials (ThunderSTORM)", FiducialAnalysis.TS_multiBeadSelection_
Plugins>STORM_Tools, "Calculate Transformation", Channel_alignment.Channel_alignment
Plugins>STORM_Tools, "Apply Transformation", Channel_alignment.Channel_alignment("table")
Plugins>STORM_Tools, "Apply Transformation (ThunderSTORM)", Channel_alignment.Channel_alignment_TS("table")
