OIC>Single_Molecule_Analysis, "Fiducial Analysis", FiducialAnalysis.fiducial_Analysis
OIC>Single_Molecule_Analysis, "Multi Channel bead selection", FiducialAnalysis.MultiChBeadSelection_
OIC>Single_Molecule_Analysis, "Channel alignment", Channel_alignment.Channel_alignment
OIC>Single_Molecule_Analysis, "Apply Channel alignment", Channel_alignment.Channel_alignment("table")
OIC>Single_Molecule_Analysis, "Apply Channel alignment ThunderSTORM", Channel_alignment.Channel_alignment_TS("table")